<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://princip-anp.ru">
        <span class="glyphicon glyphicon-home"></span> АН Принцип
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-class="getClass('/')"><a href="/">Главная</a></li>
        <li ng-class="getClass('/objects')"><a href="/objects">Объекты</a></li>
        <li ng-class="getClass('/tasks')"><a href="/tasks">Задачи</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>
      </ul>
    </div>
  </div>
</nav>
